asgiref==3.5.1
attrs==21.4.0
certifi==2021.10.8
charset-normalizer==2.0.12
coreapi==2.3.3
coreschema==0.0.4
Django==4.0.4
django-extensions==3.1.5
django-filter==21.1
django-rosetta==0.9.8
djangorestframework==3.13.1
django-debug-toolbar==3.3.0
django-silk==4.3.0
dj-database-url==0.5.0
drf-yasg==1.20.0
gunicorn==20.1.0
idna==3.3
inflection==0.5.1
itypes==1.2.0
Jinja2==3.1.2
jsonschema==4.4.0
MarkupSafe==2.1.1
packaging==21.3
Pillow==9.1.0
polib==1.1.1
psycopg2-binary==2.9.3
Pygments==2.12.0
pyparsing==3.0.8
pyrsistent==0.18.1
pytz==2022.1
PyYAML==6.0
requests==2.27.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
six==1.16.0
sqlparse==0.4.2
swagger-spec-validator==2.7.4
uritemplate==4.1.1
urllib3==1.26.9
whitenoise==6.0.0
Faker==13.13.0
django-phonenumber-field==6.3.0
django-phonenumbers==1.0.1
