{% load i18n %}
{% load static %}
<form data-rating-form="{% if request_guest in reply.upvoted_users.all %}upvoted{%elif request_guest in reply.downvoted_users.all %}downvoted{%else%}unvoted{%endif%}"
  action="{% url 'blog:vote' reply.id %}" method="post" target="dframe">
    {% csrf_token %}
    <img data-rating-upvote class="icon upvote" src="{% static 'images/icons/upvote_icon.svg' %}" alt="+"><!--
 --><span style="position: relative; display: inline-flex; align-items: center;"><span data-rating-text
    {% if reply.rating > 0 %} class="green" {%elif reply.rating < 0 %} class="red" {%endif%}>{{ reply.rating }}</span><span data-animation-label>+1</span></span><!--
--><img data-rating-downvote class="icon downvote" src="{% static 'images/icons/downvote_icon.svg' %}" alt="-">
    <input name="element" type="hidden" value="comment">
    <input name="action" data-rating-action-field type="hidden" value="none">
</form>