@charset "UTF-8";
html {
  overflow-y: scroll;
}

html.dark {
  color-scheme: dark;
}

html, body, body.dark {
  min-height: 100%;
}

body, body.dark {
  min-width: 480px;
  margin: 0;
  font-family: 'Roboto', Tahoma;
  font-size: medium;
  background-color: #f2f2f2;
  color: black;
}

body.dark {
  color-scheme: dark;
  background-color: #202225;
  color: #dcddde;
}

body.dark .container {
  background-color: #36393f;
}

body.dark a {
  color: #dcddde;
}

body.dark a:hover {
  color: white;
}

hr {
  width: calc(100% - 8px);
  margin-top: 0px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #666666;
}

p, h1, h3, h4, h5 {
  padding: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: anywhere;
  margin: 0;
}

p + p, h1 + p, h3 + p, h4 + p, h5 + p, p + h1, h1 + h1, h3 + h1, h4 + h1, h5 + h1, p + h3, h1 + h3, h3 + h3, h4 + h3, h5 + h3, p + h4, h1 + h4, h3 + h4, h4 + h4, h5 + h4, p + h5, h1 + h5, h3 + h5, h4 + h5, h5 + h5 {
  margin-top: 8px;
}

h2 {
  padding: 0px;
  margin: 0px 8px;
  word-break: keep-all;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

h4 {
  margin-left: 4px;
}

label {
  box-sizing: border-box;
}

.content {
  display: flex;
  flex-flow: row;
  width: 100vw;
  height: 100vh;
}

.container {
  background-color: white;
  border-radius: 8px;
  position: relative;
  padding: 16px;
  margin: 0px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.container-col {
  display: flex;
  flex-flow: column;
  align-content: flex-start;
  justify-content: start;
  flex: 1;
}

.container-row {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: start;
  align-content: center;
  align-items: center;
}

.container-inner {
  margin: 0px 0px 0px 16px;
}

.container:empty {
  display: none;
}

input.toggle {
  display: none;
}

.expandable-v, .expandable-v.expanded {
  height: 0px;
  padding: 0px 0px;
  overflow: hidden;
  transition: height 0.8s ease-in-out;
}

.expanded.expandable-v {
  height: 77px;
}

input[type="text"], input[type="number"], input[type="password"], input[type="email"], textarea {
  padding: 4px 12px;
  width: 100%;
  font-family: 'Roboto', Tahoma;
  font-size: 16px;
  display: block;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #f7f7f7;
}

body.dark input[type="text"], body.dark input[type="number"], body.dark input[type="password"], body.dark input[type="email"], body.dark textarea {
  background-color: #2f3237;
}

textarea.post-textarea {
  height: 132px;
}

textarea.comment-textarea {
  height: 70px;
}

input[type="submit"] {
  display: block;
}

input[type]:not([type='submit']) {
  margin-bottom: 8px;
}

input[type="file"] {
  display: none;
}

input:-webkit-autofill {
  font-size: medium !important;
  font-family: 'Roboto', Tahoma !important;
}

input:-webkit-autofill::first-line {
  font-size: medium !important;
  font-family: 'Roboto', Tahoma !important;
}

input:autofill {
  font-size: medium !important;
  font-family: 'Roboto', Tahoma !important;
}

textarea {
  resize: none;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

.modal-form textarea {
  resize: both;
  max-height: 60vh;
  max-width: calc(720px - 32px);
  min-width: calc(480px - 32px);
  min-height: 124px;
}

.popup, .popup-hidden, .popup-shown {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  filter: invert(0%);
  z-index: 100;
}

.popup-hidden {
  display: none !important;
}

.popup-shown {
  display: block;
}

span.date {
  font-size: small;
  color: gray;
}

a .icon:hover, a .icon-large:hover {
  filter: brightness(90%);
}

.alert + .alert {
  margin-top: 8px;
}

.modal-bg {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-bg > .container {
  min-width: calc(480px - 32px);
}

.modal-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

@keyframes fadeOut {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

.pos-top {
  align-self: start;
}

.pos-right {
  justify-self: right;
  margin-left: auto;
  display: flex;
  align-content: center;
  align-items: center;
}

.mgl-a {
  margin-left: auto;
}

.mgl-8 {
  margin-left: 8px;
}

.mgl-16 {
  margin-left: 16px;
}

.mgh-a {
  margin-left: auto;
  margin-right: auto;
}

.mgr-a {
  margin-right: auto;
}

.mgr-16 {
  margin-right: 16px;
}

.mgr-8 {
  margin-right: 8px;
}

.mgr-32 {
  margin-right: 32px;
}

.mgb-0 {
  margin-bottom: 0px;
}

.mgb-8 {
  margin-bottom: 8px;
}

.mgb-16 {
  margin-bottom: 16px;
}

.mgt-8 {
  margin-top: 8px;
}

.mgt-10 {
  margin-top: 10px;
}

.mgl-0 {
  margin-left: 0px;
}

.pdl-8 {
  padding-left: 8px;
}

.pdr-8 {
  padding-right: 8px;
}

.pdb-2 {
  padding-bottom: 2px;
}

.pdb-4 {
  padding-bottom: 8px;
}

.pdb-10 {
  padding-bottom: 10px;
}

.pd-0 {
  padding: 0;
}

.underline {
  text-decoration: underline !important;
}

.red {
  color: rgba(230, 7, 8, 0.85);
}

.green {
  color: rgba(0, 177, 0, 0.85);
}

.width-50pc {
  width: 50% !important;
}

.width-fit {
  width: fit-content !important;
}

.height-100pc {
  height: 100%;
  display: flex;
  align-items: center;
}

.break-all {
  word-break: break-all;
}

.relative {
  position: relative;
}

body.dark nav {
  --navbar-color: #18191c;
}

nav.navbar {
  background-color: var(--navbar-color, #e6f7f1);
  height: 60px;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 2;
  flex-flow: row nowrap;
  align-content: center;
  align-items: center;
  justify-content: start;
  box-sizing: border-box;
}

nav.navbar .first-block {
  max-width: calc((100% - 720px)/2);
  min-width: 56px;
  display: flex;
  flex-flow: row-reverse;
  align-content: center;
  align-items: center;
  justify-self: flex-start;
  width: 100%;
  height: 100%;
}

nav.navbar .second-block {
  width: 720px;
  display: flex;
  flex-flow: row;
  align-content: center;
  align-items: center;
  justify-self: flex-start;
}

nav.navbar .navigation {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

nav.navbar .navigation a {
  margin-left: 8px;
  white-space: nowrap;
}

nav.navbar .container-row {
  height: 60px;
  margin-right: 8px;
}

nav.navbar a.icon, nav.navbar a.icon-country, nav.navbar a.icon-country-current, nav.navbar a.icon-large {
  display: inline-block;
  margin: 0px 8px;
}

nav.navbar a.icon > img, nav.navbar a.icon-country > img, nav.navbar a.icon-country-current > img, nav.navbar a.icon-large > img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

nav.navbar a.icon > img:hover, nav.navbar a.icon-country > img:hover, nav.navbar a.icon-country-current > img:hover, nav.navbar a.icon-large > img:hover {
  filter: invert(30%) brightness(105%);
}

nav.navbar a.icon-country, nav.navbar a.icon-country-current {
  margin-right: 0px;
}

nav.navbar a.icon-country > img, nav.navbar a.icon-country-current > img {
  filter: invert(30%);
}

nav.navbar a.icon-country > img:hover, nav.navbar a.icon-country-current > img:hover {
  filter: invert(0%) brightness(105%);
}

nav.navbar a.icon-country-current > img {
  filter: invert(0%) brightness(105%);
}

nav.navbar a.icon-country-current > img:hover {
  filter: invert(0%) brightness(105%);
}

nav.navbar a.external {
  cursor: alias;
  margin-right: 16px;
}

nav.navbar a.external:hover {
  filter: invert(30%);
}

nav.navbar h1, nav.navbar h2, nav.navbar h3, nav.navbar h4 {
  margin: 0;
  padding: 0px 8px;
}

nav.navbar .vline {
  border-left: 1px solid #6b6b6b;
  height: 24px;
  left: 50%;
  margin-left: 8px;
}

@media screen and (max-width: 720px) {
  nav.navbar label {
    visibility: visible !important;
  }
  nav.navbar .navigation {
    flex-direction: column;
    align-content: flex-start;
    align-self: flex-start;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: var(--navbar-color, #e6f7f1);
    margin: 0;
    padding: 0px;
    border-radius: 0px 0px 0px 8px;
    overflow: hidden;
    width: 0;
    transition: width 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  nav.navbar .navigation .vline {
    display: none;
  }
  nav.navbar .navigation a {
    padding: 16px 8px;
    width: 100%;
    text-align: center;
    font-size: x-large;
  }
}

nav.navbar #toggle-navigation {
  display: none;
}

nav.navbar #toggle-navigation:checked ~ .navigation {
  padding: 0 8px;
  width: 200px;
}

nav.navbar #toggle-navigation:checked + label img {
  transform: rotateZ(90deg);
}

nav.navbar label {
  display: block;
  position: absolute;
  top: 2px;
  right: 4px;
  visibility: hidden;
  margin: 8px;
  cursor: pointer;
}

nav.navbar label img {
  height: 40px;
  width: 40px;
  transition: transform 0.5s ease-in-out;
  transform-origin: 50% 50%;
}

body, body.dark {
  --btn-bg-color: #e6f7f1;
  --btn-text-color: black;
}

body.dark {
  --btn-bg-color: #42464d;
  --btn-text-color: #f8f8f8;
}

body.dark .btn, body.dark .btn-submit, body.dark .btn-edit, body.dark .btn-delete {
  color: #f8f8f8;
  background-color: #42464d;
}

body.dark .btn:hover, body.dark .btn-submit:hover, body.dark .btn-edit:hover, body.dark .btn-delete:hover {
  color: #ebebeb;
  background-color: #202225;
}

body.dark img:not([type="userpic"]) {
  filter: invert(90%);
}

body.dark img:not([type="userpic"]):hover {
  filter: invert(90%);
}

.btn, .btn-submit, .btn-edit, .btn-delete {
  padding: 2px 4px;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  display: inline-block;
  border: none;
  font-family: 'Roboto', Tahoma;
  font-size: medium;
  box-sizing: border-box;
  user-select: none;
  text-decoration: none;
  cursor: pointer;
  border-radius: 8px;
  min-height: 28px;
  width: 136px;
  min-width: fit-content;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out, opacity 0.8s ease-in-out;
  color: black;
  background-color: #e6f7f1;
}

.btn:hover, .btn-submit:hover, .btn-edit:hover, .btn-delete:hover {
  color: black;
  background-color: #d3f1e6;
}

.btn span, .btn-submit span, .btn-edit span, .btn-delete span {
  cursor: inherit !important;
  line-height: 24px;
}

.btn-submit {
  color: black;
  background-color: #e6f7f1;
}

.btn-submit:hover {
  color: black;
  background-color: #d1f8d9;
}

.btn-edit {
  color: black;
  background-color: #e6f7f1;
}

.btn-edit:hover {
  color: black;
  background-color: #cff5f2;
}

.btn-delete {
  color: black;
  background-color: #e6f7f1;
}

.btn-delete:hover {
  color: black;
  background-color: #e9ded9;
}

button[type=submit] {
  display: none;
}

.list-v, .list-v-narrow {
  max-width: 720px;
  min-width: 480px;
  align-self: center;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  padding-top: 16px;
}

.list-v span, .list-v-narrow span {
  vertical-align: middle;
  cursor: default;
  margin: 0px 4px;
}

.list-v span.link, .list-v-narrow span.link {
  cursor: pointer;
}

.list-v #post-creation-submit-label, .list-v-narrow #post-creation-submit-label {
  display: none;
}

.list-v #post-create-expand:checked ~ .expandable-v, .list-v-narrow #post-create-expand:checked ~ .expandable-v {
  height: 239px;
}

.list-v #post-create-expand:checked + label, .list-v-narrow #post-create-expand:checked + label {
  display: none;
}

.list-v #post-create-expand:checked ~ #cancel-label, .list-v-narrow #post-create-expand:checked ~ #cancel-label {
  display: initial;
  visibility: visible;
  opacity: 100%;
}

.list-v #post-create-expand:checked ~ #post-creation-submit-label, .list-v-narrow #post-create-expand:checked ~ #post-creation-submit-label {
  display: inline-block;
}

.list-v #post-create-cancel + label, .list-v-narrow #post-create-cancel + label {
  transition: opacity 0.8s ease-in-out;
  visibility: hidden;
  opacity: 0%;
}

.list-v #post-create-cancel:checked + label, .list-v-narrow #post-create-cancel:checked + label {
  animation: 0.8s fadeOut;
}

.list-v #post-create-cancel:checked ~ .expandable-v, .list-v-narrow #post-create-cancel:checked ~ .expandable-v {
  height: 0px;
}

.list-v #post-create-cancel:checked + #post-create-expand, .list-v-narrow #post-create-cancel:checked + #post-create-expand {
  display: initial;
}

.list-v #post-edit-expand:checked ~ .expandable-v, .list-v-narrow #post-edit-expand:checked ~ .expandable-v {
  height: 100%;
}

.list-v #post-edit-expand:checked + label, .list-v-narrow #post-edit-expand:checked + label {
  display: none;
}

.list-v #post-edit-expand:checked ~ #edit-label, .list-v-narrow #post-edit-expand:checked ~ #edit-label {
  display: initial;
  visibility: visible;
  opacity: 100%;
}

.list-v #post-edit-expand:checked ~ #post-edit-submit-label, .list-v-narrow #post-edit-expand:checked ~ #post-edit-submit-label {
  display: inline-block;
}

.list-v #post-comment-submit-label, .list-v-narrow #post-comment-submit-label {
  display: none;
}

.list-v #post-comment-expand:checked ~ .expandable-v, .list-v-narrow #post-comment-expand:checked ~ .expandable-v {
  height: 78px;
}

.list-v #post-comment-expand:checked + label, .list-v-narrow #post-comment-expand:checked + label {
  display: none;
}

.list-v #post-comment-expand:checked ~ #comment-label, .list-v-narrow #post-comment-expand:checked ~ #comment-label {
  display: initial;
  visibility: visible;
  opacity: 100%;
}

.list-v #post-comment-expand:checked ~ #post-comment-submit-label, .list-v-narrow #post-comment-expand:checked ~ #post-comment-submit-label {
  display: inline-block;
}

.list-v #post-comment-cancel + label, .list-v-narrow #post-comment-cancel + label {
  transition: opacity 0.8s ease-in-out;
  visibility: hidden;
  opacity: 0%;
}

.list-v #post-comment-cancel:checked + label, .list-v-narrow #post-comment-cancel:checked + label {
  animation: 0.8s fadeOut;
}

.list-v #post-comment-cancel:checked ~ .expandable-v, .list-v-narrow #post-comment-cancel:checked ~ .expandable-v {
  height: 0px;
}

.list-v #post-comment-cancel:checked + #post-create-expand, .list-v-narrow #post-comment-cancel:checked + #post-create-expand {
  display: initial;
}

.list-v .expandable-v, .list-v-narrow .expandable-v {
  width: 100%;
}

.list-v-narrow {
  max-width: 432px;
}

.icon, .icon-large {
  height: 24px;
  width: 24px;
  vertical-align: middle;
  border-radius: 50%;
  padding: 1px;
}

.icon.upvote, .upvote.icon-large, .icon.downvote, .downvote.icon-large, .icon.bookmark, .bookmark.icon-large {
  cursor: pointer;
}

.icon.upvote.active, .upvote.active.icon-large {
  filter: invert(100%) brightness(0.5) sepia(1) saturate(10000%) brightness(1) hue-rotate(120deg) saturate(3);
}

.icon.downvote.active, .downvote.active.icon-large {
  filter: invert(100%) brightness(0.5) sepia(1) saturate(10000%) brightness(0.8) saturate(2);
}

.icon.bookmark:hover, .bookmark.icon-large:hover, .icon.downvote:hover, .downvote.icon-large:hover, .icon.upvote:hover, .upvote.icon-large:hover {
  filter: invert(50%);
  background-color: rgba(0, 0, 0, 0.2);
}

.icon-large {
  height: 40px;
  width: 40px;
}

.popup-shown form {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.popup-shown .popup-container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container > .container {
  padding: 0px;
  margin-bottom: 0px;
}

.rating-box {
  position: relative;
  display: inline-flex;
  align-items: center;
}

span[data-rating-text] {
  opacity: 100%;
  transition: opacity 0.1s ease-in-out;
}

span[data-animation-label] {
  font-style: italic;
  font-size: small;
  position: absolute;
  margin-left: 2px;
  bottom: 100%;
  right: -4px;
  left: -4px;
  text-align: center;
  opacity: 0%;
}

span[data-rating-text].animating {
  opacity: 0%;
}

span[data-rating-text].animating ~ span[data-animation-label] {
  animation: ratingAnimation 1s ease-out 0.1s;
}

@keyframes ratingAnimation {
  50% {
    bottom: 20%;
    opacity: 100%;
  }
  90% {
    bottom: 20%;
    opacity: 100%;
  }
  100% {
    bottom: 20%;
    opacity: 0%;
  }
}

form[data-bookmark-form] {
  position: relative;
  width: 26px;
  height: 26px;
  margin-right: 40px;
  border-radius: 50%;
}

img[data-bookmark-icon-active], img[data-bookmark-icon-inactive] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1px;
  transition: opacity 1s ease-out, transform 1s ease-out;
}

img[data-bookmark-icon-active].hidden, img[data-bookmark-icon-inactive].hidden {
  opacity: 0;
  transform: scale(0.8);
  z-index: -1;
}

.post-stats > :first-child {
  width: 100px;
  max-width: 90px;
}

.post-rating {
  justify-content: end;
  width: 300px;
}

.post-rating > * {
  margin: 0 !important;
  width: 100% !important;
  justify-self: end;
}

.post-rating > :nth-child(1) {
  max-width: 100px;
  display: flex;
  justify-content: end;
}

[data-sorting-toggle], [data-filter-toggle] {
  border-radius: 100vmax !important;
  flex-wrap: nowrap;
  white-space: nowrap;
  display: flex !important;
  padding: 0 !important;
  cursor: default !important;
  padding-left: 4px !important;
  transition: border-radius 0.5s ease-out 0.5s !important;
  position: relative;
  overflow: visible !important;
}

[data-sorting-toggle]:hover, [data-sorting-toggle]:focus, [data-filter-toggle]:hover, [data-filter-toggle]:focus {
  background-color: var(--btn-bg-color) !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  transition: border-radius 0s ease-out 0s !important;
}

[data-sorting-toggle]:hover > [data-sorting-variants], [data-sorting-toggle]:hover [data-filter-variants], [data-sorting-toggle]:focus > [data-sorting-variants], [data-sorting-toggle]:focus [data-filter-variants], [data-filter-toggle]:hover > [data-sorting-variants], [data-filter-toggle]:hover [data-filter-variants], [data-filter-toggle]:focus > [data-sorting-variants], [data-filter-toggle]:focus [data-filter-variants] {
  max-width: 400px;
  opacity: 1;
  transition: max-width 0.5s ease-out;
}

[data-sorting-toggle] > span, [data-filter-toggle] > span {
  margin: 0 12px 0 8px;
}

[data-sorting-variants], [data-filter-variants] {
  display: flex;
  background-color: var(--btn-bg-color);
  padding: 0 !important;
  vertical-align: middle;
  align-items: center;
  font-size: medium;
  min-height: 28px;
  border-top-right-radius: 100vmax;
  border-bottom-right-radius: 100vmax;
  overflow: hidden;
  transform-origin: left center;
  transition: max-width 0.5s ease-out, opacity 0s ease-in 0.5s;
  max-width: 0;
  opacity: 0;
  position: absolute;
  left: 100%;
}

[data-sorting-variants] span, [data-filter-variants] span {
  transition: background-color 0.2s ease-in-out;
  margin: 0 !important;
  padding: 0px 8px;
  height: 28px;
  display: flex;
  align-items: center;
  word-break: keep-all;
  white-space: nowrap;
  cursor: pointer !important;
}

[data-sorting-variants] span:not([disabled]):hover, [data-filter-variants] span:not([disabled]):hover {
  background-color: #cff5f2;
}

[data-sorting-variants] span[disabled], [data-filter-variants] span[disabled] {
  cursor: default;
  pointer-events: none;
  background-color: #d1f8d9;
}

[data-sorting-variants] span + span, [data-filter-variants] span + span {
  border-left: 1px solid #6b6b6b;
}

[data-sorting-variants] > :last-child, [data-filter-variants] > :last-child {
  padding-right: 12px;
}

[data-sorting-variants]:hover ~ [data-sorting-toggle],
[data-filter-variants]:hover ~ [data-filter-toggle] {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

body.dark [data-sorting-variants] span:hover, body.dark [data-filter-variants] span:hover {
  background-color: #202225;
}

body.dark [data-sorting-variants] span[disabled], body.dark [data-filter-variants] span[disabled] {
  background-color: #5b5d61;
}

[data-filter-variants] {
  left: unset;
  right: 100%;
  transform-origin: right center;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 100vmax;
  border-bottom-left-radius: 100vmax;
}

[data-filter-variants] span {
  padding: 0 8px !important;
}

[data-filter-variants] span.underline {
  background-color: #5b5d61;
}

[data-filter-variants] span.underline::after {
  content: '×';
  margin-left: 2px;
}

[data-filter-variants] > :last-child {
  padding-right: 0;
}

[data-filter-variants] > :first-child > span {
  padding-left: 12px !important;
}

[data-filter-toggle]:focus, [data-filter-toggle]:hover {
  border-top-right-radius: 100vmax !important;
  border-bottom-right-radius: 100vmax !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

[data-filter-toggle] > span {
  margin: 0 8px 0 8px !important;
}

.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 4px;
}

.profile-pic:hover ~ .profile-pic-settings {
  opacity: 1;
  visibility: visible;
}

.container.profile .container-col {
  flex: initial;
}

.profile-pages {
  position: relative;
  overflow: hidden;
}

.profile-list {
  width: -webkit-fill-available;
  position: relative;
  top: 0;
  opacity: 1;
  transform: translate0(100%);
  transition: opacity 1.5s ease-in-out, transform 500ms ease-in-out, height 500ms ease-in-out;
}

.profile-list.hidden {
  position: absolute;
  pointer-events: none;
  opacity: 0;
  transform: translateY(100%);
}

.toggler {
  pointer-events: initial;
}

.toggler-active {
  pointer-events: none;
  background-color: transparent !important;
  transform: scale(1.1);
}

.profile .container-col {
  position: relative;
}

.profile-pic-settings {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  visibility: hidden;
}

.profile-pic-settings:hover {
  opacity: 1;
  visibility: visible;
}

.profile-pic-btn {
  background-color: #00000075 !important;
  width: 90%;
  color: white;
  margin-bottom: 4px;
}

.profile-pic-btn:hover {
  background-color: #000000af !important;
  color: white !important;
}

.profile form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.profile form .container-row:last-child {
  justify-content: end;
  margin-top: auto;
}

.profile label:not([class*="btn"]) {
  width: 150px;
}

.notifications {
  z-index: 1000;
  position: fixed;
  left: 8px;
  bottom: 0px;
}

.notifications > ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  max-width: 264px;
}

.notifications li {
  text-align: center;
  background-color: gray;
  padding: 8px 20px;
  border-radius: 4px;
  margin: 8px 0px;
  font-weight: bold;
  animation: notificationsLifeCycle 10s ease-in-out forwards;
}

.notifications li[data-notification-template] {
  display: none;
}

.notifications li[data-notification-type="error"] {
  background-color: #db8f8f;
  color: #ad0000;
}

body.dark .notifications li[data-notification-type="error"] {
  background-color: #694141;
  color: red;
}

@keyframes notificationsLifeCycle {
  0% {
    transform: translateX(0) translateY(60px);
    opacity: 0;
    max-height: 0;
  }
  5% {
    transform: translateX(0) translateY(0);
    opacity: 1;
    max-height: 1000px;
  }
  90% {
    transform: translateX(1px) translateY(0);
    opacity: 1;
    max-height: 1000px;
  }
  100% {
    transform: translateX(-300px) translateY(0);
    opacity: 0;
    max-height: 1000px;
  }
}
