<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>todo</title>
        <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'css/main.css' %}">
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light static-top" 
  style="background-color: #d9ffd9;">
  <div class="container">
{#    <a class="navbar-brand" href="#">#}
{#      <img src="http://placehold.it/150x50?text=Logo" alt="">#}
{#    </a>#}
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <h1>Hello, {{ request.user }} </h1>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'Blog:home' %}">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'Blog:profile' user %}">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'Blog:register' %}">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'Blog:login' %}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'Blog:logout' %}">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<div class="content">
  {% block content %}

  {% endblock %}
</div>
<!-- /.container -->


</body>
</html>