{% extends 'Blog/base.html' %}
{% block content %}

<h1><span>{{ post.name }} <p>Author: {{ post.user }}</p> </span></h1>
<h3>{{ post.description }}</h3>
<h4>{{ post.text }}</h4>
<div class="container">

    <p><a href="{% url 'Blog:create_comment' post.id requst.path %}" class="btn btn-sm btn-success"
        style="width: 100%">Leave a comment</a></p>

    {% for comment in comments %}

    <div class="container">
        <p>{{comment.author}}</p>
        <p>{{comment.publication_date}}</p>
        <p>{{comment.text}}</p>
    </div>

    {% endfor %}
</div>

{% endblock %}
