{% extends 'blog/base.html' %}
{% block content %}

<div class="post">
  <h1>
      <span>{{ post.name }} <p>Author:
          {% if post.user.is_moderator %}
              <a  style="color: #e85353" href="{% url 'user:profile' post.user.user.id %}">{{ post.user }}</a>
      {% else %}
              <a  href="{% url 'user:profile' post.user.user.id %}">{{ post.user }}</a>
      {% endif %}
      </p> </span>
  </h1>
  <h3>{{ post.description }}</h3>
  <h4>{{ post.text }}</h4>
</div>

  <a href="{% url 'blog:create_comment' post.id %}" class="btn btn-sm btn-success"
     style="margin-left: 10px; display: inline-block;">Leave a comment</a>


    {% for comment in comments %}
    <div class="post" style="margin-bottom: 0">
        <a id="name" href="{% url 'user:profile' comment.author.user.id %}">{{ comment.author }}</a>
        <h6>{{comment.publication_date}}</h6>
        <h5>{{comment.text}}</h5>
    </div>
    {% endfor %}

{% endblock %}
