{% extends 'blog/base.html' %}
{% block content %}
    {% load static %}
    {% load i18n %}

<div class="post" style="position: relative">
    <div class="row-content">
        <h1 style="margin: 0;">{{ post.name }} </h1>
        <div class="pos-right">
            <img src="{{ post.user.profile_picture.url }}" width="30px" height="30px" style="border-radius: 50%;" alt="{% trans 'profile picture' %}">
            <a {% if post.user.is_moderator %} style="color: #e85353" {% endif %} href="{% url 'user:profile' post.user.user.id %}">{{ post.user }}</a>
        </div>
    </div>
  <h3>{{ post.description }}</h3>
  <h4>{{ post.text }}</h4>
  <div class="row-content">
    {%if request.user == post.user.user %}
        <a href="{% url 'blog:update' post.id %}" class="btn btn-sm btn-info"
            style="width: 29%">{% trans 'Update' %}</a>
        <a href="{% url 'blog:delete' post.id %}" class="btn btn-sm btn-danger"
            style="width: 29%">{% trans 'Delete' %}</a>
    {%endif%}
    <div class="pos-right">
        <a href="{% url 'blog:post' pk=post.pk save=1 %}" style="margin-right: 10px;">
            {% if post_saved %}
                <img src="{% static 'images/save_button_active.png' %}" alt="{% trans 'save' %}" height="25px" width="20px">
            {% else %}
                <img src="{% static 'images/save_button.png' %}" alt="{% trans 'save' %}" height="25px" width="20px">
            {% endif %}
        </a>
        <a class="btn btn-sm btn-default"
        style="color: green; font-size: 20px; padding: 0 5px;">+</a>
        <span style="vertical-align: middle;">{{ post.rating }}</span>
        <a class="btn btn-sm btn-default"
        style="color: red; font-size: 20px; padding: 0 5px;">-</a>
    </div>
    </div>
</div>

  <a href="{% url 'blog:create_comment' post.id %}" class="btn btn-sm btn-success"
     style="margin-left: 10px; display: inline-block; margin-top: 10px;">{% trans 'Leave a comment' %}</a>

    {% for comment in comments %}
        <div class="post" style="margin-bottom: 0">
            <div class="row-content">
                <img src="{{ post.user.profile_picture.url }}" width="18px" height="18px" style="border-radius: 50%;">
                <a id="name" href="{% url 'user:profile' comment.user.user.id %}"> {{ comment.user }}</a>
                <div class="pos-right">
                    {{comment.publication_date}}
                </div>    
            </div>
            <h5>{{comment.text}}</h5>
            <div class="row-content">
            <a class="btn btn-sm btn-info" href="{% url 'blog:reply' post.id comment.id %}">{% trans 'Reply' %}</a>
            <div class="pos-right">
                <a class="btn btn-sm btn-default"
                style="color: green; font-size: 20px; padding: 0 5px;">+</a>
                <span style="vertical-align: middle;">{{ post.rating }}</span>
                <a class="btn btn-sm btn-default"
                style="color: red; font-size: 20px; padding: 0 5px;">-</a>
            </div>
            </div>
            {% for reply in comment.replies.all %}
                <div class="post" style="margin: 0px;">
                    <div class="row-content">
                        <img src="{{ post.user.profile_picture.url }}" width="18px" height="18px" style="border-radius: 50%;">
                        <a id="name" href="{% url 'user:profile' comment.user.user.id %}"> {{ comment.user }}</a>
                        <div class="pos-right">
                            {{comment.publication_date}}
                        </div>    
                    </div>
                <h5>{{reply.text}}</h5>
                </div>
            {% endfor %}
        </div>
    {% endfor %}

{% endblock %}
