{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error 401</title>
    <link rel="stylesheet"
      type="text/css"
      href="{% static 'css/main.css' %}">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
<div class="label">
    <h2 style="text-align: center">You need to create an account or login</h2>
    <div class="tasks">
      <a href="{% url 'Blog:login' %}"
         class="btn btn-sm btn-info">Login</a>
      <a href="{% url 'Blog:register' %}"
         class="btn btn-sm btn-info">Register</a>
    </div>

</div>
</body>
</html>