{% load static %}
{% load i18n %}

<div class="modal-bg popup-hidden" id="popup-edit-post-{{post.id}}">
    <div class="container">
        <h4>{% trans 'Edit post' %}</h4><hr>
        <form class="modal-form" action="{% url 'blog:update' post.id %}" method="POST" name="edit-post">
            {% csrf_token %}
            <input name="element" type="hidden" value="post">
            <input type="text" name="name" required maxlength="200" value="{{ post.name }}"
                   placeholder="{% trans 'Title' %}..." title="{% trans 'Title' %}">
            <input type="text" name="description" required maxlength="200" value="{{ post.description }}"
                   placeholder="{% trans 'Description' %}..." title="{% trans 'Description' %}">
            <textarea name="text" class="post-textarea" required
                      placeholder="{% trans 'Text' %}..." title="{% trans 'Text' %}">{{ post.text}}</textarea>
            <div class="mgl-a mgr-a row-content mgt-8">
                <button class="btn-edit mgr-8"
                ><span>{% trans 'Save' %}</span></button><!--
            --><button type="button" onclick="hidePopup('edit-post-{{ post.id }}')" class="btn-delete"><span>{% trans 'Cancel' %}</span></button>
            </div>
        </form>
    </div>
</div>