{% load static %}
{% load i18n %}

<div class="container">
    <div class="container-col">
        <div class="container popup-hidden" id="popup-delete-{{post.id}}">
            {% include 'blog/post/post-delete-form.html' %}
        </div>

        <div class="container-row mgb-8">
            <div class="height-100pc">
                <a href="{% url 'user:profile' post.user.id %}">
                    <img class="icon-large" type="userpic" src="{{ post.user.profile_picture.url }}" alt="{% trans 'profile picture' %}">
                </a>
            </div>
            <div class="container-col">
                <a class="width-fit break-all" href="{% url 'user:profile' post.user.id %}">
                    <span class="link" {% if post.user.is_moderator is True %} class="red" {% endif %}>{{ post.user }}</span>
                </a>
                <span class="date">{{ post.creation_date }}</span>
            </div>
            {%if request_guest == post.user %}
                <div class="pos-right">            
                    <a href="{% url 'blog:update' post.id %}" class="btn-edit width-fit mgr-8"><img class="icon" src="{% static 'images/icons/edit_icon.svg' %}"></a><!--
                    --><button class="btn-delete width-fit" onclick="showPopup('delete-{{ post.id }}')"><img class="icon" src="{% static 'images/icons/delete_icon.svg' %}"></button>
                </div>
            {% endif %}
        </div>

        <div>
            <h1>{{ post.name }}</h1>
            <h3>{{ post.description }}</h3>
            <p>{{ post.text }}</p>
        </div>
        <div class="container-row mgt-8">
            <div class="mgr-32"><img class="icon" src="{% static 'images/icons/comments_icon.svg' %}"><span>{{ post.number_of_comments }}</span></div>
            {% include 'blog/post/post-save.html' %}
            <div class="pos-right post-stats">
                {% include 'blog/post/post-rating.html' %}
            </div>
        </div>
    </div>
</div>