{% load i18n %}
{% if request.user.is_authenticated %}
<input type="radio" class="toggle" name="create-post" id="post-create-expand">
<label class="btn-submit mgr-8" for="post-create-expand">
    <span>{% trans 'Create post' %}</span>
</label>

<input type="radio" class="toggle" name="create-post" id="post-create-cancel">
<label class="btn-delete" for="post-create-cancel" id="cancel-label">
    <span>{% trans 'Cancel' %}</span>
</label>

<!-- <button type="submit" name="Submit" form="create-post" id="post-creation-submit"></button> -->
<label class="btn-submit mgr-8" for="post-creation-submit" id="post-creation-submit-label" style="order: -1;">
    <span>{% trans 'Submit' %}</span>
</label>

<div class="expandable-v" style="order: -2;">
    {% include 'blog/post/post-creation-form.html' %}
</div>
{% else %}
<div class="container-row">
    <a class="btn-submit mgr-8" href="{% url 'user:login' %}"><span>{% trans 'Log In' %}</span></a>
    <a class="btn-submit" href="{% url 'user:register' %}"><span>{% trans 'Register' %}</span></a>
</div>
{% endif %}