{% load static %}
{% load i18n %}


{% include 'blog/post/modal-post-edit-form.html' %}
<div class="container pdb-4">
    <div class="container-col">
        <div class="container popup-hidden" id="popup-delete-post-{{post.id}}">
            {% include 'blog/post/post-delete-form.html' %}
        </div>
        <div class="container-row mgb-8">
            {% with element=post %}
            {% include 'blog/profile-pic-mini.html' %}
            {% endwith %}
            <div class="container-col mgr-8">
                <a class="width-fit break-all" href="{% url 'user:profile' post.user.id %}">
                    <span class="link" {% if post.user.is_moderator is True %} class="red" {% endif %}>{{ post.user }}</span>
                </a>
                <span class="date">{{ post.creation_date }}</span>
            </div>
            {%if request_guest == post.user %}
                <div class="pos-right">            
                    <button class="btn-edit width-fit mgr-8" onclick="showPopup('edit-post-{{ post.id }}')" title="{%trans 'Edit'%}"><img class="icon" src="{% static 'images/icons/edit_icon.svg' %}"></button><!--
                 --><button class="btn-delete width-fit" onclick="showPopup('delete-post-{{ post.id }}')" title="{%trans 'Delete'%}"><img class="icon" src="{% static 'images/icons/delete_icon.svg' %}"></button>
                </div>
            {% endif %}
        </div>
        <a href="{% url 'blog:post' pk=post.id %}">
            <h1>{{ post.name }}</h1>
            <h3 class="">{{ post.description }}</h3>
        </a>
        <div class="container-row mgt-8 post-stats">
            <div title="{%trans 'comments'%}"><img class="icon" src="{% static 'images/icons/comments_icon.svg' %}"><span>{{ post.number_of_comments }}</span></div>
            {% include 'blog/post/post-save.html' %}
            <div class="pos-right post-rating">
                {% include 'blog/post/post-rating.html' %}
            </div>
        </div>
    </div>
</div>