<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> New Layout </title>
    <link rel="stylesheet"
              type="text/css"
              href="{% static 'css/test.css' %}">
</head>
<body>
    <body>
        <nav class="navbar">
          <div class="textblock"><h2>Welcome!</h2></div>
          <div class="navigation">
            <a>Home</a>
            <a>Login</a>
          </div>
        </nav>
        <div class="content">
            <div class="left-menu">
                <input type="checkbox" id="toggle-on" />
                <label for="toggle-on"><img id="toggle-img" src="{% static 'images/btn.png' %}" /></label>
                <div id="menu">
                    <p><a href="">Link</a></p>
                    <p><a href="">Some link</a></p>
                    <p><a href="">Some quite long link</a></p>
                    <p><a href="">Super mega huuuuuuge link omg</a></p>
                </div>
            </div>
          <div class="articles">
            <div class="col">
                <h1>SomeTitle</h1>
                <p>Some cool text</p>
                <a class="btn submit">Ok</a>
                <a class="btn">Norm</a>
            </div>
            <div class="col">
              <h1>SomeTitle</h1>
              <p>Some cool text</p>
            </div>
            <div class="col">
              <h1>SomeTitle</h1>
              <p>Some cool text</p>
            </div>
            <div class="col">
              <h1>SomeTitle</h1>
              <p>Some cool text</p>
              <a class="btn submit">Ok</a>
              <a class="btn">Norm</a>
            </div>
            <div class="col">
              <h1>SomeTitle</h1>
              <p>Some cool text</p>
            </div>
          </div>
        </div>
    </body>
    
</body>