{% extends 'Blog/base.html' %}
{% block content %}

<div class="tasks">
    <div class="container">
        <!-- <form action="#" method="get">
            <input type="text" value="8" name="mytextbox" size="1"/>
            <input type="submit" class="btn" value="Order by author" name="order_by_author">
            <input type="text" value="9" name="mytextbox" size="1"/>
            <input type="submit" class="btn" value="Order by date" name="order_by_date">
        </form> -->
        
    </div>
    {% if request.path == '/blog/' %}
    <a href="{% url 'Blog:home_by_date' %}" class="btn btn-sm btn-info"
    style="width: 49%">Sort by date</a>
    {% else %}
    <a href="{% url 'Blog:home' %}" class="btn btn-sm btn-info"
    style="width: 49%">Sort by author</a>
    {% endif %}

    {% for post in posts %}
    <div class="label">
    <h2><a href="{% url 'Blog:post' post.id %}">{{ post.name }}</a>
    <p>Author: {{ post.user }}</p>
    <p>posted: {{ post.creation_date }}</p>
        <span>{{ post.description }}</span>
    </h2>
  <p></p>
  <a href="{% url 'Blog:update' post.id %}" class="btn btn-sm btn-info"
     style="width: 49%">Update</a>
  <a href="{% url 'Blog:delete' post.id %}" class="btn btn-sm btn-danger"
     style="width: 49%">Delete</a>
  </div>
    {% endfor %}
<p></p>
    <a href="{% url 'Blog:create' %}" class="btn btn-sm btn-success"
    style="width: 100%">Create</a>
</div>

{% endblock %}