$postlist-max-width: 720px;
$postlist-min-width: 480px;
$optimal-width: 720px;

$reply-comment-form-height: 75px;

$text-color-default: black;
$link-on-hover-color: rgb(63, 63, 63);
$date-color: rgb(100, 100, 100);

$expand-duration: 0.8s;