@import "common-vars.scss";
@import "buttons.scss";

.list-v {
    $create-post-section-height: 239px;
    $comment-post-section-height: 78px;

    max-width: $postlist-max-width;
    min-width: $postlist-min-width;
    align-self: center;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    padding-top: 16px;

    span {
        vertical-align: middle;
        cursor: default;
        margin: 0px 4px;
    }

    span.link {
        cursor: pointer;
    }

    #post-creation-submit-label {
        display: none;
    }

    #post-create-expand{

        @include expand-v-form($create-post-section-height, cancel-label, post-creation-submit-label)

    }

    #post-create-cancel{

        @include shrink-v-form(post-create-expand)
    }

    #post-edit-expand {
        @include expand-v-form(100%, edit-label, post-edit-submit-label)
    }

    #post-comment-submit-label {
        display: none;
    }

    #post-comment-expand{

        @include expand-v-form($comment-post-section-height, comment-label, post-comment-submit-label)

    }

    #post-comment-cancel{

        @include shrink-v-form(post-create-expand)
    }

    .expandable-v {
        width: 100%;
    }

    &-narrow {
        @extend .list-v;
        max-width: $postlist-max-width*0.6;
    }
}

.icon {

    height: 24px;
    width: 24px;
    vertical-align: middle;
    border-radius: 50%;
    padding: 1px;
    
    &.upvote, &.downvote, &.bookmark 
    {
        cursor: pointer;
    }

    &.upvote.active {
        filter: invert(100%) brightness(0.5) sepia(1) 
            saturate(10000%) brightness(1) hue-rotate(120deg) saturate(3);
        //background-color: rgba(0, 0, 0, 0.2);

    }

    &.downvote.active {
        filter: invert(100%) brightness(0.5) sepia(1) saturate(10000%) brightness(0.8) saturate(2);
        //background-color: rgba(0, 0, 0, 0.2);
    }

    &.bookmark:hover, &.downvote:hover, &.upvote:hover{
        filter: invert(50%);
        background-color: rgba(0, 0, 0, 0.2);
    }

    &-large {
        @extend .icon;
        height: 40px;
        width: 40px;
    }

}

.popup-shown form{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.popup-shown .popup-container
{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container > .container {
    padding: 0px;
    margin-bottom: 0px;
}

.rating-box {
    position: relative; 
    display: inline-flex; 
    align-items: center;
}

span[data-rating-text] {
    opacity: 100%;
    transition: opacity 0.1s ease-in-out;
}

span[data-animation-label] {
    font-style: italic;
    font-size: small;
    position: absolute;
    margin-left: 2px;
    bottom: 100%;
    right: -4px;
    left: -4px;
    text-align: center;
    opacity: 0%;
}

span[data-rating-text].animating {
    opacity: 0%;
}
span[data-rating-text].animating ~ span[data-animation-label] {
    animation: ratingAnimation 1s ease-out 0.1s;
}

@keyframes ratingAnimation {
    50% {
        bottom: 20%;
        opacity: 100%;
    }
    90% {
        bottom: 20%;
        opacity: 100%;
    }
    100% {
        bottom: 20%;
        opacity: 0%;
    }
}

form[data-bookmark-form] {
    position: relative;
    width: 26px;
    height: 26px;
    margin-right: 40px;
    border-radius: 50%;
}

img[data-bookmark-icon-active], img[data-bookmark-icon-inactive]{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1px;
    transition: opacity 1s ease-out, transform 1s ease-out;
}

img[data-bookmark-icon-active].hidden, img[data-bookmark-icon-inactive].hidden{
    opacity: 0;
    transform: scale(0.8);
    z-index: -1;
}

.post-stats > :first-child() {
    width: 100px;
    max-width: 90px;
}

.post-rating {
    justify-content:end;
    width: 300px;

    & > * {
        margin: 0 !important;
        width: 100% !important;
        
        justify-self:end;
    }

    // & > :nth-child(1) {
    //     max-width: 70px;
    // }

    // & > :nth-child(2) {
    //     max-width: 70px;
    // }

    & > :nth-child(1) {
        max-width: 100px;
        display: flex;
        justify-content: end;
    }
}

[data-sorting-toggle], [data-filter-toggle] {
    border-radius: 100vmax !important;
    flex-wrap: nowrap;
    white-space: nowrap;
    display: flex !important;
    padding: 0 !important;
    cursor: default !important;
    padding-left: 4px !important;
    transition: border-radius 0.5s ease-out 0.5s !important;
    position: relative;
    overflow: visible !important;


    &:hover, &:focus {
        background-color: var(--btn-bg-color) !important;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        transition: border-radius 0s ease-out 0s !important;

        & > [data-sorting-variants], [data-filter-variants] {
            max-width: 400px;
            opacity: 1;
            transition: max-width 0.5s ease-out
        }
    }

    & > span {
        margin: 0 12px 0 8px;
    }
}

// body.dark [data-sorting-toggle] {
//     background-color: $btn-dark-background !important;
// }

[data-sorting-variants], [data-filter-variants] {
    display: flex;
    background-color: var(--btn-bg-color);
    padding: 0 !important;
    vertical-align: middle;
    align-items: center;
    font-size: medium;
    min-height: 28px;
    border-top-right-radius: 100vmax;
    border-bottom-right-radius: 100vmax;
    overflow: hidden;
    transform-origin: left center;
    transition: max-width 0.5s ease-out, opacity 0s ease-in 0.5s;
    max-width: 0;
    opacity: 0;
    position: absolute;
    left: 100%;

    & span{
        transition: background-color 0.2s ease-in-out;
        margin: 0 !important;
        padding: 0px 8px;
        height: 28px;
        display: flex;
        align-items: center;
        word-break: keep-all;
        white-space: nowrap;
        cursor: pointer !important;

        &:not([disabled]):hover {
            background-color: $btn-edit-on-hover-bg;
        }

        &[disabled] {
            cursor: default;
            pointer-events: none;
            background-color: $btn-submit-on-hover-bg;
        }
    }

    & span + span {
        border-left:  1px solid #6b6b6b;
    }
    
    & > :last-child {
        padding-right: 12px;
    }

}

[data-sorting-variants]:hover ~ [data-sorting-toggle],
[data-filter-variants]:hover ~ [data-filter-toggle] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

body.dark [data-sorting-variants] span, body.dark [data-filter-variants] span {
    &:hover {
        background-color: $page-background-color-dark ;
    }

    &[disabled] {
        background-color: invert($btn-dark-background, 20%);
    }
}

[data-filter-variants] {
    left: unset;
    right: 100%;
    transform-origin: right center;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 100vmax;
    border-bottom-left-radius: 100vmax;

    & span {
        padding: 0 8px !important;
    }

    & > :last-child {
        padding-right: 8px;
    }


    & > :first-child {
        & > span {
            padding-left: 12px !important;
        }
    }
}

[data-filter-toggle]:focus, [data-filter-toggle]:hover {
    border-top-right-radius: 100vmax !important;
    border-bottom-right-radius: 100vmax !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

[data-filter-toggle] > span {
    margin: 0 8px 0 8px !important;
}