.profile-pic
{
    width: 200px;
    height: 200px;
    border-radius: 4px;
}

.container.profile .container-col{
    flex: initial;
}

.profile-pages {
    position: relative;
    overflow: hidden;
}

.profile-list {
    width: -webkit-fill-available;
    position: relative;
    top: 0;
    opacity: 1;
    transform: translate0(100%);
    transition: opacity 1000ms ease-in-out,
    transform 500ms ease-in-out;
}

.profile-list.hidden {
    position: absolute;
    pointer-events: none;
    opacity: 0;
    transform: translateY(100%);
}

.toggler {
    pointer-events: initial;
    &-active {
        pointer-events: none;
        background-color: transparent !important;
        transform: scale(1.1);
    }
}