@import "buttons.scss";
@import "navbar.scss";
@import "common.scss";



#left-menu {
    display: block;
    width: auto;
}

#menu {
    align-self:stretch;
    display: block;
    width: 0px;
    padding: 10px 0px;
    -webkit-transition: width 5s ease-in-out;
    transition: width 0.5s ease-in-out;

    & > p {
        margin: 0px 0px 10px 10px;
        overflow: hidden;
        white-space: nowrap;
    }

}

#toggle-on{
    display: none;

    &:checked ~ #menu {
        width: 200px;
    }
}

label {
  display: block;
  margin: 10px;
  cursor: pointer;

  & img {
    height: 25px;
    width: 25px;
    transition: 0.5s ease-in-out;
    transform-origin: 50% 50%;
  }
}

:checked + label img {
  transform: scale(0.9);
  transform: rotate(90deg);
  box-shadow: 0 0 5px #333;
  z-index: -1;
}

.articles {
    flex:9;
    display: flex;
    flex-flow: row wrap;
    min-width: 300px;
    align-content: flex-start;
    justify-content: flex-start;
  }
  
.col {
    flex: 1;
    margin: 10px 0px 10px 20px;
    border: solid 1px;
    border-color: black;
    padding: 10px;
    min-width: 200px;
  }

@media screen and (max-width:600px) {
    #menu {
      width: 0;
      visibility: visible;
    }
  }
@media screen and (min-width:601px) {
    #menu {
      width: 200px;
    }
    label {
        visibility: hidden;
    }
  }