{% extends 'new-layout/base.html' %}
{% load i18n %}
{% block content %}

<div class="list-v">
    <div class="container" style="flex-wrap:nowrap">
        <h2 class="mgr-16">{% trans 'Hello' %}, {{ request.user }}</h2>
        <div class="container-row pos-right">
            <a class="btn-edit width-fit mgr-8"
            {% if not 'popular' in request.path %} href="{% url 'blog:home_popular' %}"
                    ><span>{% trans 'popular' %}</span>
                {% else %}
                    href="{% url 'blog:home' %}"><span>{% trans 'new' %}</span>
                {% endif %}
            </a>
            <button class="btn-edit width-fit" id="dark-mode-toggle">
                <span>theme</span>
            </button>
        </div>
    </div>
    {% if request.user.is_authenticated %}
    <div class="container">
        <input type="radio" class="toggle" name="create-post" id="post-create-expand">
        <label class="btn-submit mgr-8" for="post-create-expand">
            <span>{% trans 'Create post' %}</span>
        </label>

        <input type="radio" class="toggle" name="create-post" id="post-create-cancel">
        <label class="btn-delete" for="post-create-cancel" id="cancel-label">
            <span>{% trans 'Cancel' %}</span>
        </label>

        <!-- <button type="submit" name="Submit" form="create-post" id="post-creation-submit"></button> -->
        <label class="btn-submit mgr-8" for="post-creation-submit" id="post-creation-submit-label" style="order: -1;">
            <span>{% trans 'Create post' %}</span>
        </label>

        <div class="expandable-v" style="order: -2;">
            {% include 'new-layout/blog/post-creation-form.html' %}
        </div>
    </div>
    {% endif %}
    {% for post in posts %}
        {% include 'new-layout/blog/postlist-item.html' %}
    {% endfor %}
</div>

{% endblock %}