{% extends 'blog/base.html' %}
{% block content %}
    {% load i18n %}

<div class="post">
			<h3 style="font-family: Arial, Helvetica, sans-serif; text-align: center;">{% trans 'Login' %}</h3>

		<form action="#" method="POST" style=" display: flex; flex-flow: column; text-align: center; justify-content: center;">
            {% csrf_token %}
			<p><input type="text" name="username" placeholder="{% trans 'username' %}"
                   class="field" style="width: 49%"></p>
			<p><input type="password" name="password" placeholder="{% trans 'password' %}" class="field" style="width: 49%"></p>
			<input type="submit" value="Login" class="btn btn-success"
            style="
			display: block;
			width: 30%;
			margin: 0 auto;
			margin-bottom: 10px;">
		</form>
	</div>
{% endblock %}
