{% extends 'blog/base.html' %}
{% block content %}
    {% load static %}
    {% load i18n %}

<div class="row-content" style="margin: 10px 0px;">
	<div class="col-md-3" style="align-self: stretch; min-width: calc(var(--profilepic-min-width) + 70px);
								max-width: calc(var(--profilepic-min-width) + 70px);
								padding: 0px; margin-right: 20px;">
		<div class="card card-body">
			<a class="btn btn-warning" href="{% url 'user:profile' request.user.id %}"> &#8592; {% trans 'Back to profile' %}</a>
			<hr>
			<h3 style="text-align: center">{% trans 'Account settings' %}</h3>
			<hr>
            
                <img class="profile-pic" 
					{% if user.profile_picture %}
					src="{{ user.profile_picture.url }}"
					{% else %}
					src="{% static 'images/profile.png' %}"
					{% endif %}
					style="min-width: var(--profilepic-min-width)">
            

		</div>
	</div>
	<div class="col-md-9" style="align-self: stretch; padding: 0px;">
		<div class="card card-body">

			<form method="POST" action="" enctype="multipart/form-data">
				{% csrf_token %}
				{{form.as_p}}

			<input class="btn btn-primary" type="submit" name="Update Information">
			</form>
		</div>
	</div>
</div>


{% endblock %}
