{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block subhead %}
    <title>blog - {% trans 'Profile settings' %}</title>
    <script src="{% static 'javascript/process_profile_picture.js' %}" defer></script>
{% endblock%}

{% block content %}
<div class="list-v">
    <div class="container-row mgb-16">
        <a href="{% url 'user:profile' request.user.id %}" class="btn-delete width-fit"><span>{% trans 'Cancel' %}</span></a>
        {% include 'blog/../change-theme-button.html' %}
    </div>
    {% include 'form-errors.html' %}
    <div class="container profile">
        <div class="container-row mgb-8 mgt-8">    
            <div class="container-col mgr-8">
                <img class="profile-pic" id="profile-picture-image" type="userpic" alt="profile picture" src=
                {% if user.profile_picture %}"{{ user.profile_picture }}"
                {% else %}"{% static 'images/profile.png' %}"
                {% endif %}>
                <div class="profile-pic-settings">
                    <label id="edit-btn" for="profile_picture_input" class="btn-edit profile-pic-btn"><span>{% trans 'Edit' %}</span></label>
                    <button id="delete-btn" class="{% if not user.profile_picture %}hidden {% endif %}btn-delete profile-pic-btn"><span>{% trans 'Delete' %}</span></button>
                </div>
            </div>
            <form method="POST" action="" class="mgr-8" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" id="profile_picture" name="profile_picture" value="{{user.profile_picture}}">
                <input type="hidden" id="delete_img" name="delete_img" value="n">
                <input type="file" id="profile_picture_input" name="profile_picture_input" accept="image/*">
                <div class="container-row">
                    <label class="mgb-8" for="email"><h4>{% trans 'email' %}:</h4></label>
                    <input type="email" id="email"  name="email" value="{{ user.email }}" placeholder="{% trans 'email' %}" required>
                </div>
                <div class="container-row">
                    <label class="mgb-8" for="phone"><h4>{% trans 'phone' %}:</h4></label>
                    <input type="text" id="phone" name="phone" value="{{ user.phone }}" placeholder="{% trans 'phone' %}">
                </div>
                <div class="container-row">
                    <label class="mgb-8" for="skype"><h4>{% trans 'skype' %}:</h4></label>
                    <input type="text" id="skype" name="skype" value="{%if user.skype != None%}{{user.skype}}{%endif%}"
                         placeholder="{% trans 'skype' %}">
                </div>
                <div class="container-row">
                    <button id="submit-btn" class="btn-submit">{% trans 'Save' %}</button>
                </div>
            </form>
        </div>
        <div class="container-row mgb-8">
            <h1 id="name">{{ user.name }}</h1>
        </div>
        {% if request.user.id == user.id %}
        <div class="container-row">
            <h4 st  > {% trans 'API token' %}: {{ user.token }}</h4>
        </div>
        {% endif %}
    </div>
</div> 
{% endblock %}