{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block subhead %}
    <script src="{% static 'javascript/change_pages.js' %}" defer></script>
    <script src="{% static 'javascript/popup_toggle.js' %}" defer></script>
    <script src="{% static 'javascript/process_rating.js' %}" defer></script>
    <script src="{% static 'javascript/process_bookmark.js' %}" defer></script>
    <title>blog - {% trans 'Profile' %}</title>
{% endblock%}

{% block content %}
<div class="list-v">
    <div class="container-row mgb-16">
        {% if request_guest == user %}
        <a href="{% url 'user:profile_settings' user.user.id %}" class="btn-edit width-fit"><span>{% trans 'Settings' %}</span></a>
        {% endif %}
        {% include 'blog/../change-theme-button.html' %}
    </div>

    <div class="container profile">
        <div class="container-row mgb-8 mgl-8 mgt-8">    
            <div class="container-col mgr-8">
                <img class="profile-pic" type="userpic" src=
                {% if user.profile_picture %}"{{ user.profile_picture.url }}"
                {% else %}"{% static 'images/profile.png' %}" 
                {% endif %}>
            </div>
            <div class="container-col mgr-a">
                <h4> {% trans 'email' %}: {{ user.email }}</h4>
                <h4> {% trans 'phone' %}: {{ user.phone }}</h4>
                <h4> {% trans 'skype' %}: {{ user.skype }}</h4>
                <h4> {% trans 'rating' %}: {{ user.rating }}</h4>
                <h4> {% trans 'number of posts' %}: {{ posts|length }}</h4>
                <h4> {% trans 'number of comments' %}: {{ comments|length }}</h4>
                <h4> {% trans 'registration date' %}: {{ user.date_created }}</h4>
            </div>
        </div>
        <div class="container-row">
            <h1 id="name">{{ user.name }}</h1>
        </div>
        {% if request_guest == user %}
        <div class="container-row">
            <h4> {% trans 'API token' %}: Token {{ user.token }}</h4>
        </div>
        {% endif %}
    </div>
    <div class="container-row mgb-16">
        {% if posts %}
        <button class="btn-edit toggler toggler-active" data-page-toggle="1">{% trans 'posts' %}</button>
        {% endif %}
        {% if comments %}
        <button class="btn-edit pos-right toggler {%if not posts%}toggler-active{%endif%}" data-page-toggle="2">{% trans 'comments' %}</button>
        {% endif %}
    </div>
    <div class="profile-pages">
        <div class="profile-list" data-page>
            {% for post in posts %}
                {% include 'blog/post/postlist-item.html' %}
            {% endfor %}
        </div>
        <div class="profile-list {%if posts%}hidden{%endif%}" data-page>
            {% include 'user/profile-comment-list.html' %}
        </div>
    </div>

</div>
{% endblock %}