{% extends 'blog/base.html' %}
{% block content %}
    {% load static %}

<div class="post">
    <img class="profile-pic" src="{{ user.profile_picture.url }}">
    <h2 id="name">{{ user.name }}</h2>
    {% if request_user == user.user %}
    <h5><a href="{% url 'user:profile_settings' %}" style="color: #1F78B4">Edit profile</a></h5>
    {% endif %}
    <h3> Email: {{ user.email }}</h3>
    <h3> Phone: {{ user.phone }}</h3>
    <h3> Skype: {{ user.skype }}</h3>
    <h3> API token: Token {{ user.token }}</h3>
</div>
<div class="post">
    <h3>Ban status: {{ user.is_banned }}</h3>
    <h3>Mute status: {{ user.is_muted }}</h3>
    {% if user.last_ban_date %}
    <h3>Time since last ban: {{ time_since_ban }}</h3>
    {% endif %}

</div>

{% for post in posts %}
<div class="post">
    <h2><a href="{% url 'blog:post' post.id %}">{{ post.name }}</a></h2>
    <h3>{{ post.creation_date }}</h3>
    <h3>{{ post.description }}</h3>
</div>
{% endfor %}

{% endblock %}
