{% extends 'blog/base.html' %}
{% block content %}
{% load i18n %}

<div class="post" style="justify-content: center;">
	<h3 style="font-family: Arial, Helvetica, sans-serif; text-align: center;">{% trans 'Register a new account' %}</h3>
    <form action="#" method="POST" style=" display: flex; flex-flow: column; text-align: center; justify-content: center; margin-top: 10px;">
    {% csrf_token %}
        <p><input type="text" name="username" placeholder="{% trans 'username' %}"
                  class="field" style="width: 49%;"></p>
        <p><input type="email" name="email" placeholder="{% trans 'email' %}" class="field"></p>
	    <p><input type="password" name="password1" placeholder="{% trans 'password' %}" class="field"></p>
        <p><input type="password" name="password2" placeholder="{% trans 'confirm password' %}" class="field"></p>
	    <input type="submit" value="{% trans 'Register Account' %}" class="btn btn-success"
          style="width: 30%;
          margin: 0px auto !important;">
    </form>
</div>

{% endblock %}
